.amor
{
    background-color: rgb(243, 121, 158);
}

.vidaDiaria
{
    background-color: rgb(136, 203, 235);
}

.salud
{
    background-color: rgb(247, 96, 109);
}

.politica
{
    background-color: rgb(207, 186, 192);
}

.otros
{
    background-color: rgb(196, 219, 132);
}

.educacion
{
    background-color: rgb(228, 185, 44);
}

.deportes
{
    background-color: rgb(115, 241, 104);
}

