.formulario
{
    background-color: #ec80d5e0;
    height: 150px;
    width: 350px;
}

.general
{
    position: sticky;
    top: 0;
    padding-top: 1px;
}

.texto
{
    position: relative;
    top: 70%;
    left: 5%;
    height: 90px;
    width: 315px;
    background-color: rgba(128, 255, 255, 0.671);
}

.input
{
    background-color: rgba(240, 248, 255, 0.315);
    height: 80px;
    width: 300px;
    caret-color: transparent;
    text-align: start;
}